html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(70deg, #FF9F45 50%, #C1DEAE 50%);
  min-height: 1000px;
  font-family: 'helvetica neue';
}

.home-page {
  display: none;
}

.loading-page {
  font-family: 'Tangerine', serif;
  font-size: 72px;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

nav {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  background-color: rgba(255, 255, 255, 0.3);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px;
}

nav div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}

h3 {
  margin: 0.1vh auto;
  background-color: #FF9F45;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
}

a {
  text-decoration: none;
  margin: 0.5vh auto;
  color: black;
}

a:active {
  color: white;
}

/*div.list-titles {
  display: none;
  padding-right: 10px;
}*/

/*nav > div.icons:hover {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}*/

/*div.list-titles:hover {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}*/


a:hover,
a:focus {
  box-shadow: 0 0.5em 0.5em -0.4em black;
  transform: translateY(-0.25em);
}

/*nav:hover > div.list-titles {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
}*/

h1 {
  color: #fff;
  padding: 10px;
  margin: 0;
}

#logo {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 9.4em;
}

#hamburger {
  display: none;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #FF9F45;
  text-align: center;
  margin-bottom: 0;
}

.delete-btn {
  color: white;
  position: absolute;
  top: 67px;
  left: 60%;
  background: none;
  border: none;
}

.delete-btn:hover {
  color: black;
  box-shadow: 0 0.5em 0.5em -0.4em black;
  transform: translateY(-0.25em);
}

.lines {
  display: inline-block;
  height: 40px;
  width: 10px;
  background-color: #FF9F45;
  margin: 0;
}

#l1 {
  margin-left: 40vw;
}

#l2 {
  margin-left: 15vw;
}

#content {
  outline-style: solid;
  outline-width: 3px;
  outline-color: #FF9F45;
  outline-offset: -5px;
  margin-top: -3px;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #FF9F45;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

button.add {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border-color: transparent;
  background-color: #FF9F45;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

button#newList {
  width: 30px;
  height: 30px;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
  margin-bottom: 10px;
}

input#newListName {
  width: 110px;
  height: 30px;
  font-size: 15px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #FF9F45;
}

::placeholder {
  color: grey;
  opacity: 0.5;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.copyright {
  position: relative;
  top: 6px;
}

.nav-mobile {
  display: block;
  position: static;
  text-align: center;
  width: 90vw;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}


@media screen and (max-device-width: 500px){

  #logo {
    position: static;
    width: 7em;
  }

  #hamburger {
    display: inline;
    position: absolute;
    background: none;
    border: none;
    color: #FF9F45;
    top: 30px;
    right: 30px;
  }

  nav {
    display: none;
  } 

  nav form {
    text-align: center;
  } 

.delete-btn {
  position: relative;
  top: 0;
  left: 0;
}

  .box {
    margin: 10px auto;
  }

  #l1 {
    margin-left: 20vw;
  }

  #l2 {
    margin-left: 50vw;
  }

  input[type="text"] {
    width: 276px;
  }

}